/* Estilos generales para las imágenes */
img {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    word-spacing: 0px;
    
    background-color: #FFFFFF;
    background-position: 0% 0%;
    
    height: 100px;
    width: 218.75px;
    max-height: 100px;
    min-height: auto;
    min-width: auto;
    
    display: block;
    
    overflow: clip;
    cursor: pointer;
    
   
}
